<style type="text/css">

	.category {
		transition: 1s;
		z-index: 10;
		/*float: right;*/
		position: fixed;
		margin-top: 10%;
		/*margin-left: -19.5%;*/
		/*padding: 1%;*/
		width: 3%;

		background-color: var(--main-grey-tran);
		
		/*border-right-style: solid;*/
		border-width: thick;
		border-color: var(--main-dark-tran);
	}



	.category:hover{
		width: 25%;
		margin-left: 0%;
		background-color: var(--main-dark);
		border-right-color: black;
	}


	.category h2{
		transition: 1s;
		text-align: center;
		background-color: var(--main-red-tran);
	}

	.category:hover h2{
		background-color: var(--main-red);
	}

	.category h4{
		transition: 1s;
		border-left-style: solid;
		border-width: thick;
		border-color: var(--main-red-tran);

		
		background: -webkit-linear-gradient(left, var(--main-dark-tran) , var(--main-grey-tran)); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(right, var(--main-dark-tran), var(--main-grey-tran));  /*For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(right, var(--main-dark-tran), var(--main-grey-tran)); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(to right, var(--main-dark-tran) , var(--main-grey-tran)); /* Standard syntax */

	}

	.category:hover h4{
		border-color: var(--main-red);
		background: black;
	}

	.category-content{
		float: left;
		display: none;
	}


	.toggle {
		/*z-index: 20;*/
		width: 1.5em;
		/*width: 1.5em;*/
		/*float: left;*/
	}

	.category:hover .category-content{
		display: block;
	}

	.category:hover .toggle{
		width: auto;
	}

	@media only screen and (max-width: 700px){
		.category{
			margin: 0;
			width: auto;
			float: none;
			/*background-color: white;*/
		}

		.category:hover{
			width: auto;
			margin-left: 0%;
			background-color: var(--main-dark);
			border-right-color: black;
		}

		.category-content{
			width: auto;
			float: none;
		}
	}

</style>




<div class="category">

	<div class="toggle">
		<h2>目录</h2>
	</div>

	<div class="category-content">
		{% for category in site.categories %}
		<h4>{{ category | first }} </h4>
		<ul class="arc-list">
		    {% for post in category.last %}
		        {% unless post.hidden %}
		        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		        {% endunless %}
		        <!-- date格式可以借鉴 -->
		        <!-- <li>{{ post.date | date:"%d/%m/%Y"}} <a href="    {{ post.url }}">{{ post.title }}</a></li> -->
		    {% endfor %}
		</ul>
		{% endfor %}
	</div>

</div>
