
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title | default: site.title }}</title>

    <link rel="shortcut icon" type="image/png" href="/assets/imgs/favicon.png">

    <!-- ??? -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.comscriptsvn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!--     <style type="text/css">
    .bgimg {
        background-image: url({{ page.logo }});
        background-repeat: no-repeat;
    }
    </style> -->

  </head>
  <body>
<!--        <div id="header">
        <nav>
          <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
          {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
          {% endif %}
        </nav>
      </div> -->

    <!-- Category -->
<!--     
    {% if page.ispost %}
    
    {% endif %}

 -->    
    <div class="wrapper">

      <section>
        <div id="title">

          <h1>{{ page.title | default: site.title }}</h1>
          
          <p>{{ page.description | default: site.github.project_tagline }}</p>

          <hr>

          <!-- <span class="credits left"><em>Make Everyday Count !</em></span> -->
          {% if page.mail %}
            <span class="credits left"><a href="{{ site.pageDir }}/todo"><em>Never Too Late.</em></a></span>
          {% elsif page.ispost %}

          {% else %}
            <span class="credits left"><em>Never Too Late.</em></span>
          {% endif %}

          {% if page.index %}
            <span class="credits right"> <a href="{{ site.pageDir }}/mail">联系方式</a></span>
          {% else %}
            <span class="credits right"> <a href="/">返回首页</a></span>
          {% endif %}
          
           <!-- <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span> -->
           <!-- <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>   -->

        </div>

        {% if page.image %}
        <img src="{{ page.image }}" >
        {% endif %}



        {{ content }}


        {% if page.ispost %}
          <p style="text-align: right;">{{ page.date | date_to_long_string }}</p>
        {% endif %}
      </section>

    </div>

    <!-- {% include toTop.html %} -->

    {% if page.comments %}
    {% include disqus.html %}
    {% endif %}

<!--     {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalytscriptssObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>

    {% endif %} -->

  </body>
</html>